*{
  font-family: 'Open Sans Condensed', sans-serif;
}
.navBig:hover{
  font-size: 30px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A382A;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 30px 34px;
  text-decoration: none;
}

li a:hover {
  background-color: #59785B;
}
#blockText{
  text-align: center;
  padding-top: 40px;
}

#blockPar{
  margin: 40px;
  font-size: 20px;
}

.spacing{
  height: 200px;
  width: 100%;
}

.page{
  background-color: #e1ebe4;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
  height: auto;
}

.firstContent{
  display: block;
  height: 400px;
  width: 45%;
  float: right;
}
.secondContent{
  display: block;
  height: 400px;
  width: 50%;
}
.thirdContent{
  display: block;
  width: 50%;
  height: 400px;
  float: right;
}
.fourthContent{
  display: block;
  width: 45%;
  height: 400px;
}
.choice1{
  width: 25%;
  display: block;
  float: left;
  padding-left: 80px;
  padding-top: 40px;
  height: 400px;
}

.choice1:hover{
  opacity: .5;
}
#overlay{
  text-align: center;
}

.container{
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.parallax {
  background-image: url("/photos/plate.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  background-color: #2A382A;
  width: 100%;
  height: 150px;
}
