
body {
    background-color: #ffffff;
    border: 2px solid-black;
}

img.logo{
    float: none;
    padding-top:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

button{
  text-align: right;
  background-color: #08c784;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px auto;
  margin: 20px auto;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li {
  float: right;
}

li a:hover :active{
  background-color: #111111;
}

img{
  border: 50px solid black;
}
img.right{
  float: right;
  padding-right: 100px;
  padding-top: 200px;
}
img.left{
  float: left;
  padding-left: 100px;
  padding-top: 200px;
}

h1.home{
  text-indent: 0px;
}


div.left{
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 750px;
}
div.right{
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding-left: 750px;
    padding-right: 100px;
}
